include ./icons/icon-favourite
include ./icons/icon-arrow
include ./icons/icon-basket
include ./icons/icon-facebook
include ./icons/icon-instagram
include ./icons/icon-twitter
include ./icons/icon-check
include ./icons/icon-filter
include ./icons/icon-search
include ./icons/icon-favourite
include ./icons/icon-basket

mixin svg-icon(name)
    - let fullName = `icon-${name}`;
    +#{fullName}