.banner {
    position: relative;
    background: linear-gradient(to right, #F7F5EF 35%, #FDFDFB 35%);
}

@media screen and (min-width: 600px) {
    .banner::before,
    .banner::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;
        height: 365px;
        background-image: url('./background-up.png');
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
    }
    
    .banner::after {
        top: auto;
        width: 200px;
        height: 110%;
        bottom: 0px;
        right: 0;
        background-position: 70px 145px;
        background-image: url('./background-down.png');
    }
}

.banner__container {
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 4.4444444%;
    padding-bottom: 14%;
}

@media screen and (min-width: 600px) {
    .banner__container {
        flex-direction: row;
        padding-bottom: 4.444444%;
    }
}

.banner__container-img {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .banner__container-img {
        width: 40%;
    }
}

@media screen and (min-width: 1024px) {
    .banner__container-img {
        width: 44.53%;
    }
}

.banner__image {
    width: 100%;
}

.banner__slider {
    position: absolute;
    bottom: 3%;
    right: 20px;
    margin-left: auto;
}

@media screen and (min-width: 425px) {
    .banner__slider {
        bottom: 4%;
        right: 35px;
    }
}

@media screen and (min-width: 600px) {
    .banner__slider {
        bottom: 5%;
    }
}

@media screen and (min-width: 1024px) {
    .banner__slider {
        bottom: 4.2%;
        left: 37%;
    }
}

.banner__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.banner__button_prev {
    transform: rotate(90deg);
}

.banner__number {
    margin: 0 20px;
    font-family: 'Prata';
}

.banner__button_next {
    transform: rotate(-90deg);
}

.banner__container-text {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .banner__container-text {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .banner__container-text {
        width: 34%;
    }
}

.banner__title {
    font-family: 'Playfair Display';
    margin-bottom: 9.54773%;
}

.banner__text {
    margin-bottom: 11.25%;
}

.banner__button-link {
    display: none;
    background-color: #D4B098;
}

@media screen and (min-width: 768px) {
    .banner__button-link {
        display: block;;
    }
}