include ../popular-watch/popular-watch

mixin popular
    +positioner('article').popular
        header.popular__header
            h2.popular__title Популярные модели
            a(href="#").popular__link Смотреть все
        section.popular__watches
            - let popular = require('../data/popular.js')
            +popular-watch(popular[0], 'rado-1').popular__watch
            +popular-watch(popular[1], 'rado-2').popular__watch
            +popular-watch(popular[3], 'bvlgari-1').popular__watch
            +popular-watch(popular[2], 'bvlgari-2').popular__watch