.catalog-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3.4188%;
    margin-bottom: 3.4188%;
}

.catalog-header__title {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    font-family: "Playfair Display";
    font-size: 20px;
    text-align: center;
}

@media screen and (min-width: 480px) {
    .catalog-header__title {
        text-align: left;
        font-size: 26px;
    }
}

@media screen and (min-width: 580px) {
    .catalog-header__title {
        width: auto;
    }
}

@media screen and (min-width: 768px) {
    .catalog-header__title {
        text-align: left;
        font-size: 32px;
    }
}