include ../components/page/page
include ../components/catalog-header/catalog-header
include ../components/catalog/catalog
include ../components/filter/filter

+page
    +catalog-header
    +catalog
        +filter