include ../components/page/page
include ../components/catalog-header/catalog-header
include ../components/catalog/catalog
include ../components/filter/filter
include ../components/catalog-container/catalog-container
include ../components/catalog-banner/catalog-banner

+page
    +catalog-header
    +catalog
        +filter
        - let watches = require('../data/watches.js');
        +catalog-container(watches)
    +catalog-banner