include ../components/page/page
include ../components/main-banner/main-banner
include ../components/popular/popular
include ../components/banner/banner

+page
    +main-banner
    +popular
    +banner