include ../components/header/header
include ../components/bread-crumbs/bread-crumbs
include ../components/catalog-header/catalog-header
include ../components/gallery/gallery
include ../components/watch-info/watch-info
include ../components/watch-card/watch-card
include ../components/slider/slider


html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
    body
        +header({ compactNavigation: true })
        +bread-crumbs("Georg Jensen")
        +watch-info
        - let watches = require('../data/watches.js');
        +slider('Вы смотрели', watches)