.bread-crumbs {
    display: none;
    margin-top: 30px;
}

@media screen and (min-width: 768px) {
    .bread-crumbs {
        display: block;
    }
}

.bread-crumbs__link {
    color: #BDB9B5;
    text-decoration: none;
}

.bread-crumbs__link:last-child {
    color: black;
}

.bread-crumbs__arrow {
    margin: 0 13px;
    color: #BDB9B5;
}