mixin bread-crumbs(page)
    +positioner('ul').bread-crumbs
        li.bread-crumbs__list
            a.bread-crumbs__link(href="#") Главная
        li.bread-crumbs__list
            a.bread-crumbs__link(href="#") Каталог
        li.bread-crumbs__list
            a.bread-crumbs__link(href="#") Мужские часы
        if (page)
            li.bread-crumbs__list
                a.bread-crumbs__link(href="#") #{page}