include ../positioner/positioner
include ../watch-card/watch-card

mixin slider(title, items)
    +positioner
        h2.title #{title}
    .slider
        button.slider__button.slider__button_prev
            +svg-icon('arrow')
        button.slider__button.slider__button_next
            +svg-icon('arrow')
        ul.slider__container
            each item in items
                li.slider__item
                    +watch-card(item)