mixin social-networks
    .social-networks&attributes(attributes)
        a(href="https://www.instagram.com/ivan.podgornov/").social-networks__link
            +svg-icon('instagram').social-networks__icon
        a(href="https://vk.com/ivan.podgornov").social-networks__link
            +svg-icon('twitter').social-networks__icon
        a(href="#").social-networks__link
            +svg-icon('facebook').social-networks__icon