include ../positioner/positioner
include ../logo/logo
include ../navigation/navigation

mixin header(options)
    header.header
        +positioner.header__positioner
            +logo.header__logo
            +navigation(options).header__navigation
            .header__items
                button.header__item
                button.header__item
                button.header__item
