.header {
    position: sticky;
    top: 0;
    padding-top: 28px;
    padding-bottom: 28px;
    z-index: 2;
    background-color: #fff;
}

@media screen and (min-width: 768px) {
    .header {
        position: relative;
    }
}

.header__positioner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .header__navigation {
        order: -1;
    }
}

.header__items {
    display: flex;
    align-items: center;
}

.header__item {
    margin-right: 23px;
    height: 20px;
    width: 21px;
    background-repeat: no-repeat;
    background-position: left;
    background-color: white;
    border: none;
    outline: none;
}

.header__item_search {
    background-image: url('search.svg');
}

.header__item_favourite {
    background-image: url('favourite.svg');
}

.header__item_basket {
    margin-right: 0;
    background-image: url('basket.svg');
}