include ../positioner/positioner
include ../logo/logo
include ../navigation/navigation
include ../search/search
include ../product-list/product-list

mixin header(options)
    header.header
        +positioner.header__positioner
            +logo.header__logo
            +navigation(options).header__navigation
            .header__items
                +search.header__item
                +product-list('favourite').header__item
                +product-list('basket').header__item