.header {
    position: sticky;
    top: 0;
    padding-top: 28px;
    padding-bottom: 28px;
    z-index: 20;
    background-color: #fff;
}

@media screen and (min-width: 768px) {
    .header {
        position: relative;
    }
}

.header__positioner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .header__navigation {
        order: -1;
    }
}

.header__items {
    display: flex;
    align-items: center;
}

.header__item {
    margin-right: 7%;
    background-color: white;
    border: none;
    outline: none;
}