include ../svg-icon/svg-icon
include ../range/range
include ../checkbox/checkbox
include ../button/button

mixin filter
    aside.filter
        button.filter__button
            +svg-icon('filter')
        form.filter__form(name='filter')
            details.filter__details
                summary.filter__name Стоимость
                +range(0, 130000, 'range')
            details.filter__details
                summary.filter__name Бренд
                +checkbox('Techne', 'Techne', 'brand')
                +checkbox('Rado', 'Rado', 'brand')
                +checkbox('Bvlgari', 'Bvlgari', 'brand')
                +checkbox('Tissot', 'Tissot', 'brand')
                +checkbox('Omega', 'Omega', 'brand')
                +checkbox('Montblanc', 'Montblanc', 'brand')
            details.filter__details
                summary.filter__name Механизм
                +checkbox('Механический', 'Механический', 'mechanism')
                +checkbox('Кварцевый', 'Кварцевый', 'mechanism')
            details.filter__details
                summary.filter__name Материал
                +checkbox('Сталь', 'Сталь', 'material')
                +checkbox('Титан', 'Титан', 'material')
                +checkbox('Пластик', 'Пластик', 'material')
                +checkbox('Латунь', 'Латунь', 'material')
            details.filter__details
                summary.filter__name Цвет
                +checkbox('Золотой', 'Золотой', 'color')
                +checkbox('Серебряный', 'Серебряный', 'color')
                +checkbox('Черный', 'Черный', 'color')
                +checkbox('Зеленый', 'Зеленый', 'color')
                +checkbox('Темно-коричневый', 'Темно-коричневый', 'color')
            +button()(type="reset").filter__reset Сбросить фильтр
