include ../positioner/positioner
include ../gallery/gallery
include ../svg-icon/svg-icon
include ../button/button

mixin watch-info
    +positioner('article').watch-info
        +gallery
        section.watch-info__about
            header.watch-info__header
                h1.watch-info__title kulte 26 мм
                button.watch-info__favourite
                    +svg-icon('favourite')
            span.watch-info__price 12 700 ₽
            header
                a.watch-info__link.watch-info__link_active(href="#description") Описание
                a.watch-info__link(href="#characteristics") Технические характеристики
            section.watch-info__content.watch-info__content_active(id="description")
                p.watch-info__text Наручные часы KULTE, разработанные датским дизайнером Хэннингом Коппелем, были выпущены в 1982 году. Они были встречены аплодисментами, а дизайн считался революционным.
                p.watch-info__text Общая эстетика минималистична, а острые, плавные линии корпуса стали легендарными. Механизм Swiss Made обеспечивает высокий уровень технических характеристик.
                p.watch-info__text Наручные часы KULTE — это образец датского дизайнерского наследия, история баланса и точности как внутри, так и снаружи.
            section.watch-info__content(id="characteristics")
                p.watch-info__text Характеристики
            +button()
                | в корзину