include ../svg-icon/svg-icon

mixin gallery
    section.gallery
        button.gallery__button.gallery__button_prev
            +svg-icon('arrow')
        button.gallery__button.gallery__button_next
            +svg-icon('arrow')
        ul.gallery__preview
            li.gallery__item_large
                img.gallery__main-img(src="/img/watch_card_1.png", alt="часы, циферблат")
            li.gallery__item.gallery__item_active
                img.gallery__image(src="/img/watch_card_1.png" alt="часы, циферблат" data-name="img_1")
            li.gallery__item
                img.gallery__image(src="/img/watches_3.png", alt="часы, вид спереди" data-name="img_2")
            li.gallery__item
                img.gallery__image(src="/img/watches_4.png", alt="часы, крышка" data-name="img_3")
            li.gallery__item
                img.gallery__image(src="/img/watches_5.png", alt="часы, вид сбоку" data-name="img_4")