body {
    position: relative;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: black;
    background-color: #fff;
}
.positioner {
    width: 86.7%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}


.header {
    margin-top: 28px;
    padding-bottom: 28px;
    z-index: 2;
}

.header__positioner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .header__navigation {
        order: -1;
    }
}

.header__items {
    display: flex;
    align-items: center;
}

.header__item {
    margin-right: 23px;
    height: 20px;
    width: 21px;
    background-repeat: no-repeat;
    background-position: left;
    background-color: white;
    border: none;
    outline: none;
}

.header__item_search {
    background-image: url(/conquest/images/components/header//search-241a54ce0d36a1efc368991a7bd59f05.svg);
}

.header__item_favourite {
    background-image: url(/conquest/images/components/header//favourite-1d5f5081dcc308356dd0fad40534902a.svg);
}

.header__item_basket {
    margin-right: 0;
    background-image: url(/conquest/images/components/header//basket-29ccfc23ace6f4c9bbf6b552b6fea07a.svg);
}
.logo {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.logo__name {
    text-decoration: none;
    color: #555248;
    text-transform: uppercase;
    font-family: "Playfair Display";
}
.navigation__menu {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url(/conquest/images/components/navigation//burger-0ed236ad9eafaaa2a5aedbb25e081b21.svg); 
    background-repeat: no-repeat;
    background-position: left;
    background-color: white;
    border: none;
}

@media screen and (min-width: 768px) {
    .navigation__menu {
        display: none;
    }
}

.navigation__checkbox {
    display: none;
}

.navigation__link {
    display: inline-block;
    margin-right: 40px;
    color: #555248;
    text-decoration: none;
}

.navigation__link:hover {
    color: #A69876;
}

@media screen and (min-width: 1024px) {
    .navigation__link {
        margin-right: 65px;
    }
}

@media screen and (max-width: 767px) {
    .navigation__menu::before {
        position: fixed;
        top: 82px;
        left: 0;
        display: none;
        width: 100vw;
        height: calc(100vh - 82px);
        background-color: rgba(128, 128, 128, 0.5);
        z-index: 1;
        content: '';
    }

    .navigation_active .navigation__menu::before {
        display: block;
    }

    .navigation__links {
        position: absolute;
        top: 54px;
        left: -201px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 200px;
        height: calc(100vh - 82px);
        border-right: 1px solid rgba(211, 211, 211, 0.5);
        background-color: white;
        transition: all 0.2s;
        z-index: 1;
    }

    .navigation_active .navigation__links {
        left: -1px;
    }

    .navigation__link {
        padding-top: 21px;
        padding-bottom: 20px;
        margin: 0;
        text-align: center;
        border-top: 1px solid rgba(211, 211, 211, 0.5);
    }

    .navigation__link:hover {
        background-color: rgba(223, 223, 223, 0.5);
    }
}

@media screen and (min-width: 768px) {
    .navigation__menu::before {
        display: none;
    }
}

.navigation__link:last-child {
    margin-right: 0;
}
.bread-crumbs {
    display: block;
    margin-top: 10px;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .bread-crumbs {
        margin-top: 20px;
    }
}

.bread-crumbs__list {
    display: inline-block;
    color: #BDB9B5;
}

.bread-crumbs__list:last-child {
    color: black;
}

.bread-crumbs__list::after {
    content: '>';
    margin: 0 10px;
}

.bread-crumbs__list:last-child::after {
    content: none;
}

.bread-crumbs__link {
    color: inherit;
    text-decoration: none;
}

.bread-crumbs__arrow {
    margin: 0 13px;
    color: #BDB9B5;
}
.catalog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.catalog-header__title {
    margin: 0;
    font-family: "Playfair Display";
    font-size: 32px;
    text-align: center;
}

@media screen and (min-width: 320px) {
    .catalog-header__title {
        width: 250px;
        font-size: 20px;
    }
}

@media screen and (min-width: 480px) {
    .catalog-header__title {
        text-align: left;
        font-size: 26px;
    }
}

@media screen and (min-width: 768px) {
    .catalog-header__title {
        text-align: left;
        font-size: 32px;
    }
}

.catalog-header__sort {
    position: relative;
    margin-top: 5px;
    color: #BDB9B5;
    cursor: pointer;
    text-align: center;
}

@media screen and (min-width: 320px) {
    .catalog-header__sort {
        border: 1px solid black;
        padding: 5px;
        padding-right: 10px;
        border-radius: 10px;
    }

    .catalog-header__sort:hover {
        background-color: rgba(187, 187, 187, 0.2);
    }
}

@media screen and (min-width: 576px) {
    .catalog-header__sort:hover {
        background-color: none;
    }
}

@media screen and (min-width: 576px) {
    .catalog-header__sort {
        border: none;
    }
}

@media screen and (max-width: 424px) {
    .catalog-header__sort {
        padding-right: 5px;
    }
}

.catalog-header__sort::after {
    position: absolute;
    top: 12px; 
    right: -10px;
    width: 12px;
    height: 10px;
    background-image: url(/conquest/images/components/catalog-header//arrow-sort-952fac9d17fa515e5771e6f0901292b7.svg);
    background-repeat: no-repeat;
    content: "";
}

@media screen and (max-width: 424px) {
    .catalog-header__sort::after {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .catalog-header__sort::after {
        width: 20px;
        height: 20px;
        background-size: 20px;
        top: 18px;
        right: 8px;
    }
}

.catalog-header__option {
    color: black;
}
.gallery {
    position: relative;
    width: 100%;
    margin-top: 22px;
}

@media screen and (min-width: 1024px) {
    .gallery {
        width: 47.8632%;
    }
}

.gallery__button {
    position: absolute;
    top: 34%;
    background-color: #fff;
    border: none;
    height: 23px;
    cursor: pointer;
}

.gallery__button_prev {
    transform: rotate(90deg);
}

.gallery__item_large {
    display: block;
    height: auto;
    max-height: 520px;
    margin: auto;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .gallery__item_large {
        height: 520px;
    }
}

.gallery__main-img {
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
}

.gallery__button_next {
    right: 0;
    transform: rotate(-90deg);
}

.gallery__preview {
    list-style-type: none;
    white-space: nowrap;
    padding: 0;
    text-align: center;
}

.gallery__item {
    position: relative;
    display: inline-block;
    width: 22%;
    text-align: center;
    background-color: lightgray;
}

.gallery__item + .gallery__item {
    margin-left: 3%;
}

.gallery__item::before {
    display: block;
    padding-top: 90%;
    content: '';
}

.gallery__item_active {
    background-color: white;
}

.gallery__item_large::before {
    content: none;
}

.gallery__image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    max-width: 100%;
    cursor: pointer;
}

.gallery__item:hover {
    background-color: transparent !important;
}
.watch-info {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (min-width: 1024px) {
    .watch-info {
        flex-direction: row;
    }
}

.watch-info__about {
    position: relative;
    width: 100%;
    margin-top: 30px;
    padding: 8.5% 10.5%;
    background-color: #FDFDFB;
}

@media screen and (min-width: 800px) {
    .watch-info__about {
        padding: 6% 7%;
    }
}

@media screen and (min-width: 1024px) {
    .watch-info__about {
        width: 47.8632%;
        margin-top: 30px;
        padding: 4.188% 5.0427%;
    }
}

.watch-info__header {
    display: flex;
    justify-content: space-between;
}

.watch-info__title {
    text-transform: uppercase;
    margin: 0;
}

.watch-info__favourite {
    position: absolute;
    top: 54px;
    right: 45px;
    width: 21px;
    height: 17px;
    stroke: 1px solid red;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

@media screen and (min-width: 320px) {
    .watch-info__favourite {
        top: 4%;
    }
}

@media screen and (min-width: 375px) {
    .watch-info__favourite {
        top: 5%;
    }
}

@media screen and (min-width: 425px) {
    .watch-info__favourite {
        top: 6%;
    }
}

@media screen and (min-width: 576px) {
    .watch-info__favourite {
        top: 8%;
    }
}

@media screen and (min-width: 768px) {
    .watch-info__favourite {
        top: 9%;
    }
}

@media screen and (min-width: 800px) {
    .watch-info__favourite {
        top: 7.2%;
    }
}

.watch-info__price {
    display: block;
    color: #686868;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 41px;
}

@media screen and (min-width: 320px) {
    .watch-info__price {
        margin-top: 3.5714%;
        margin-bottom: 7.3214%;
    }
}

@media screen and (min-width: 320px) {
    .watch-info__about header {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1024px) {
    .watch-info__about header {
        flex-direction: row;
    }
}

.watch-info__link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #444240;
    font-weight: 600;
    padding-bottom: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.watch-info__link:first-child {
    margin-right: 40px;
}

.watch-info__link_active {
    border-bottom: 2px solid #C4C0B6;
}

@media screen and (max-width: 768px) {
    .watch-info__link_active {
        border-bottom: none;
        color: #A69876;
    }
}

.watch-info__content {
    display: none;
    margin-top: 7.1428%;
    margin-bottom: 9.64285%;
}

.watch-info__content:target,
.watch-info__content_active {
    display: block;
}

@media screen and (min-width: 426px) {
    .watch-info__content {
        margin-top: 5%;
        margin-bottom: 7%;
    }
}

@media screen and (min-width: 769px) {
    .watch-info__content {
        margin-top: 4%;
        margin-bottom: 6%;
    }
}

@media screen and (min-width: 1024px) {
    .watch-info__content {
        margin-top: 40px;
        margin-bottom: 54px;
    }
}

.watch-info__text {
    font-weight: 300;
    font-size: 14px;
}
.button {
    text-transform: uppercase;
    padding: 24px 56px;
    border-radius: 0;
    border: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #31302C;
    color: white;
    cursor: pointer;
}
.watch-card {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 374px;
    margin-top: 1.2878%;
    background-color: #FDFDFB;
}

.watch-card__information {
    position: absolute;
    top: 20px;
    left: 20px;
}

.watch-card__name {
    display: block;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 9px;
}

.watch-card__price {
    font-size: 14px;
    color: #636261;
}

.watch-card__icons {
    position: absolute;
    top: 15px;
    right: 20px;
}

.watch-card__favourite,
.watch-card__basket {
    display: inline-block;
    width: 20px;
    height: 17px;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-color: transparent;
    border: none;
}

.watch-card__favourite {
    margin-right: 16px;
    cursor: pointer;
}

.watch-card__basket {
    margin-top: 5px;
    cursor: pointer;
    transform: scale(1.1);
}

.watch-card__image {
    text-align: center;
}
.title {
    font-family: 'Playfair Display';
    font-size: 32px;
}

.slider {
    position: relative;
    padding: 0 8.8034%;
}

.slider__button {
    position: absolute;
    width: 12px;
    height: 23px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.slider__button_prev {
    transform: scale(2) rotate(90deg);
    top: 164px;
    left: 14px;
}

.slider__button_next {
    transform: scale(2) rotate(-90deg);
    top: 187px;
    right: 14px;

}

@media screen and (min-width: 600px) {
    .slider__button_prev {
        left: 40px;
    }

    .slider__button_next {
        right: 45px;
    }
}

.slider__container {
    position: relative;
    left: 0;
    display: flex;
    padding: 0;
    overflow: hidden;
    margin-bottom: 6.8376%;
}

.slider__item {
    width: 32.35%;
    margin-right: 1%;
    flex-shrink: 0;
    list-style-type: none;
    transition: margin-left 0.3s ease;
}

@media screen and (min-width: 320px) {
    .slider__item {
        width: 99%;
    }
}

@media screen and (min-width: 600px) {
    .slider__item {
        width: 49%;
    }
}

@media screen and (min-width: 1024px) {
    .slider__item {
        width: 32.35%;
    }
}
.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3.5% 13.3235725% 3% 13.3235725%;
    background-color: #444240;
}

@media screen and (min-width: 600px) {
    .footer {
        flex-direction: row;
    }
}

.footer__column {
    display: inline-block;
    color: #fff;
}

.footer__column:first-child {
    order: 4;
}

@media screen and (min-width: 600px) {
    .footer__column {
        width: 50%;
        padding-left: 12%;
    }
}

@media screen and (min-width: 1024px) {
    .footer__column {
        width: auto;
        padding-left: 0;
    }

    .footer__column:first-child {
        order: 0;
    }
}

.footer__heading {
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

@media screen and (min-width: 1024px) {
    .footer__heading {
        font-size: 14px;
    }
}

.footer__logo {
    margin-top: 20px;
    filter: brightness(100);
}

.footer__options {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.footer__list {
    list-style-type: none;
}

.footer__link {
    display: inline-block;
    margin-left: 0;
    margin-top: 15px;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    opacity: 0.75;
}

.footer__link_mail {
    margin-bottom: 20px;
}
*, *::before, *::after {
    box-sizing: border-box;
}
