body {
    position: relative;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: black;
    background-color: #fff;
}
.positioner {
    width: 86.7%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}


.header {
    position: sticky;
    top: 0;
    padding-top: 28px;
    padding-bottom: 28px;
    z-index: 20;
    background-color: #fff;
}

@media screen and (min-width: 768px) {
    .header {
        position: relative;
    }
}

.header__positioner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .header__navigation {
        order: -1;
    }
}

.header__items {
    display: flex;
    align-items: center;
}

.header__item {
    margin-right: 7%;
    background-color: white;
    border: none;
    outline: none;
}
.logo {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.logo__name {
    text-decoration: none;
    color: #555248;
    text-transform: uppercase;
    font-family: "Playfair Display";
}
.navigation__menu {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url(/conquest/images/components/navigation//burger-0ed236ad9eafaaa2a5aedbb25e081b21.svg); 
    background-repeat: no-repeat;
    background-position: left;
    background-color: white;
    border: none;
}

@media screen and (min-width: 768px) {
    .navigation__menu {
        display: none;
    }
}

.navigation__checkbox {
    display: none;
}

.navigation__link {
    display: inline-block;
    margin-right: 40px;
    color: #555248;
    text-decoration: none;
}

.navigation__link:hover {
    color: #A69876;
}

@media screen and (min-width: 1024px) {
    .navigation__link {
        margin-right: 65px;
    }
}

@media screen and (max-width: 767px) {
    .navigation__menu::before {
        position: fixed;
        top: 82px;
        left: 0;
        display: none;
        width: 100vw;
        height: calc(100vh - 82px);
        background-color: rgba(128, 128, 128, 0.5);
        z-index: 1;
        content: '';
    }

    .navigation_active .navigation__menu::before {
        display: block;
    }

    .navigation__links {
        position: absolute;
        top: 82px;
        left: -201px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 200px;
        height: calc(100vh - 82px);
        border-right: 1px solid rgba(211, 211, 211, 0.5);
        background-color: white;
        transition: all 0.2s;
        z-index: 1;
    }

    .navigation_active .navigation__links {
        left: -1px;
    }

    .navigation__link {
        padding-top: 21px;
        padding-bottom: 20px;
        margin: 0;
        text-align: center;
        border-top: 1px solid rgba(211, 211, 211, 0.5);
    }

    .navigation__link:hover {
        background-color: rgba(223, 223, 223, 0.5);
    }
}

@media screen and (min-width: 768px) {
    .navigation__menu::before {
        display: none;
    }
}

.navigation__link:last-child {
    margin-right: 0;
}
.bread-crumbs {
    display: block;
    margin-top: 10px;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .bread-crumbs {
        margin-top: 20px;
    }
}

.bread-crumbs__list {
    display: inline-block;
    color: #BDB9B5;
}

.bread-crumbs__list:last-child {
    color: black;
}

.bread-crumbs__list::after {
    content: '>';
    margin: 0 10px;
}

.bread-crumbs__list:last-child::after {
    content: none;
}

.bread-crumbs__link {
    color: inherit;
    text-decoration: none;
}

.bread-crumbs__arrow {
    margin: 0 13px;
    color: #BDB9B5;
}
.catalog-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3.4188%;
    margin-bottom: 3.4188%;
}

.catalog-header__title {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    font-family: "Playfair Display";
    font-size: 20px;
    text-align: center;
}

@media screen and (min-width: 480px) {
    .catalog-header__title {
        text-align: left;
        font-size: 26px;
    }
}

@media screen and (min-width: 580px) {
    .catalog-header__title {
        width: auto;
    }
}

@media screen and (min-width: 768px) {
    .catalog-header__title {
        text-align: left;
        font-size: 32px;
    }
}
.gallery {
    position: relative;
    width: 100%;
    margin-top: 22px;
}

@media screen and (min-width: 1024px) {
    .gallery {
        width: 47.8632%;
    }
}

.gallery__button {
    position: absolute;
    top: 34%;
    background-color: #fff;
    border: none;
    height: 23px;
    cursor: pointer;
}

.gallery__button_prev {
    transform: rotate(90deg);
}

.gallery__item_large {
    display: block;
    height: auto;
    max-height: 520px;
    margin: auto;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .gallery__item_large {
        height: 520px;
    }
}

.gallery__main-img {
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
}

.gallery__button_next {
    right: 0;
    transform: rotate(-90deg);
}

.gallery__preview {
    list-style-type: none;
    white-space: nowrap;
    padding: 0;
    text-align: center;
}

.gallery__item {
    position: relative;
    display: inline-block;
    width: 22%;
    text-align: center;
    background-color: lightgray;
}

.gallery__item + .gallery__item {
    margin-left: 3%;
}

.gallery__item::before {
    display: block;
    padding-top: 90%;
    content: '';
}

.gallery__item_active {
    background-color: white;
}

.gallery__item_large::before {
    content: none;
}

.gallery__image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    max-width: 100%;
    cursor: pointer;
}

.gallery__item:hover {
    background-color: transparent !important;
}
.watch-info {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (min-width: 1024px) {
    .watch-info {
        flex-direction: row;
    }
}

.watch-info__about {
    position: relative;
    width: 100%;
    margin-top: 30px;
    padding: 8.5% 10.5%;
    background-color: #FDFDFB;
}

@media screen and (min-width: 800px) {
    .watch-info__about {
        padding: 6% 7%;
    }
}

@media screen and (min-width: 1024px) {
    .watch-info__about {
        width: 47.8632%;
        margin-top: 30px;
        padding: 4.188% 5.0427%;
    }
}

.watch-info__header {
    display: flex;
    justify-content: space-between;
}

.watch-info__title {
    text-transform: uppercase;
    margin: 0;
}

.watch-info__favourite {
    position: absolute;
    top: 54px;
    right: 45px;
    width: 21px;
    height: 17px;
    stroke: 1px solid red;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

@media screen and (min-width: 320px) {
    .watch-info__favourite {
        top: 4%;
    }
}

@media screen and (min-width: 375px) {
    .watch-info__favourite {
        top: 5%;
    }
}

@media screen and (min-width: 425px) {
    .watch-info__favourite {
        top: 6%;
    }
}

@media screen and (min-width: 576px) {
    .watch-info__favourite {
        top: 8%;
    }
}

@media screen and (min-width: 768px) {
    .watch-info__favourite {
        top: 9%;
    }
}

@media screen and (min-width: 800px) {
    .watch-info__favourite {
        top: 7.2%;
    }
}

.watch-info__price {
    display: block;
    color: #686868;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 41px;
}

@media screen and (min-width: 320px) {
    .watch-info__price {
        margin-top: 3.5714%;
        margin-bottom: 7.3214%;
    }
}

@media screen and (min-width: 320px) {
    .watch-info__about header {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1024px) {
    .watch-info__about header {
        flex-direction: row;
    }
}

.watch-info__link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #444240;
    font-weight: 600;
    padding-bottom: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.watch-info__link:first-child {
    margin-right: 40px;
}

.watch-info__link_active {
    border-bottom: 2px solid #C4C0B6;
}

@media screen and (max-width: 768px) {
    .watch-info__link_active {
        border-bottom: none;
        color: #A69876;
    }
}

.watch-info__content {
    display: none;
    margin-top: 7.1428%;
    margin-bottom: 9.64285%;
}

.watch-info__content:target,
.watch-info__content_active {
    display: block;
}

@media screen and (min-width: 426px) {
    .watch-info__content {
        margin-top: 5%;
        margin-bottom: 7%;
    }
}

@media screen and (min-width: 769px) {
    .watch-info__content {
        margin-top: 4%;
        margin-bottom: 6%;
    }
}

@media screen and (min-width: 1024px) {
    .watch-info__content {
        margin-top: 40px;
        margin-bottom: 54px;
    }
}

.watch-info__text {
    font-weight: 300;
    font-size: 14px;
}
.button {
    display: inline-block;
    text-transform: uppercase;
    padding: 24px 56px;
    border-radius: 0;
    border: 0;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    background-color: #31302C;
    color: white;
    cursor: pointer;
    white-space: nowrap;
}
.watch-card {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 374px;
    margin-top: 1.2878%;
    background-color: #FDFDFB;
}

.watch-card__information {
    position: absolute;
    top: 20px;
    left: 20px;
}

.watch-card__name {
    display: block;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 9px;
}

.watch-card__price {
    font-size: 14px;
    color: #636261;
}

.watch-card__icons {
    position: absolute;
    top: 15px;
    right: 20px;
}

.watch-card__favourite,
.watch-card__basket {
    display: inline-block;
    width: 20px;
    height: 17px;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-color: transparent;
    border: none;
}

.watch-card__favourite {
    margin-right: 16px;
    cursor: pointer;
}

.watch-card__basket {
    margin-top: 5px;
    cursor: pointer;
    transform: scale(1.1);
}

.watch-card__container-img {
    text-align: center;
    margin: auto;
}

.watch-card__image {
    margin: 0 auto;
    width: 100%;
}
.title {
    font-family: 'Playfair Display';
    font-size: 32px;
}

.slider {
    position: relative;
    padding: 0 8.8034%;
}

.slider__button {
    position: absolute;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.slider__button_prev {
    transform: rotate(90deg);
    top: 164px;
    left: 21px;
}

.slider__button_next {
    transform: rotate(-90deg);
    top: 174px;
    right: 21px;
}

@media screen and (min-width: 600px) {
    .slider__button_prev {
        left: 35px;
    }

    .slider__button_next {
        right: 35px;
    }
}

@media screen and (min-width: 1024px) {
    .slider__button_prev {
        left: 55px;
    }

    .slider__button_next {
        right: 55px;
    }
}

.slider__button svg {
    width: 20px;
    height: 40px;
}

.slider__container {
    position: relative;
    left: 0;
    display: flex;
    padding: 0;
    overflow: hidden;
    margin-bottom: 6.8376%;
}

.slider__item {
    width: 32.35%;
    margin-right: 1%;
    flex-shrink: 0;
    list-style-type: none;
    transition: margin-left 0.3s ease;
}

@media screen and (min-width: 320px) {
    .slider__item {
        width: 99%;
    }
}

@media screen and (min-width: 600px) {
    .slider__item {
        width: 49%;
    }
}

@media screen and (min-width: 1024px) {
    .slider__item {
        width: 32.35%;
    }
}
.footer {
    padding: 3.5% 0 3% 0;
    background-color: #444240;
}

.footer__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (min-width: 600px) {
    .footer__content {
        flex-direction: row;
    }
}

.footer__column {
    display: inline-block;
    color: #fff;
}

.footer__column:first-child {
    order: 4;
}

@media screen and (min-width: 600px) {
    .footer__column {
        width: 50%;
        padding-left: 12%;
    }
}

@media screen and (min-width: 1024px) {
    .footer__column {
        width: auto;
        padding-left: 0;
    }

    .footer__column:first-child {
        order: 0;
    }
}

.footer__heading {
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

@media screen and (min-width: 1024px) {
    .footer__heading {
        font-size: 14px;
    }
}

.footer__logo {
    margin-top: 20px;
    filter: brightness(100);
}

.footer__options {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.footer__list {
    list-style-type: none;
}

.footer__link {
    display: inline-block;
    margin-left: 0;
    margin-top: 15px;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    opacity: 0.75;
}

.footer__link_mail {
    margin-bottom: 20px;
}
.main-banner {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 7.60683%;
}

@media screen and (min-width: 720px) {
    .main-banner {
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 1024px) {
    .main-banner {
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-end;
    }
}

@media screen and (min-width: 720px) {
    .main-banner__information {
        margin-left: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .main-banner__information {
        width: 60%;
    }
}

.main-banner__icons {
    position: absolute;
    top: 10px;
    right: 0;
    order: -2;
}

@media screen and (max-width: 720px) {
    .main-banner__icons .social-networks__link {
        margin-right: 10px;
    }
}

@media screen and (min-width: 720px) {
    .main-banner__icons {
        position: relative;
        flex-direction: column;
    }
}

.main-banner__title {
    font-family: 'Playfair Display';
    margin: 0;
    color: #1B1A17;
    font-size: 20px;
}

@media screen and (min-width: 540px) {
    .main-banner__title {
        font-size: 24px;
    }
}

@media screen and (min-width: 1250px) {
    .main-banner__title {
        font-size: 30px;
        margin-bottom: 39px;
    }
}

.main-banner__title_large {
    margin-top: 10px;
    font-size: 24px;
    margin-bottom: 10px;
}

@media screen and (min-width: 540px) {
    .main-banner__title_large {
        font-size: 28px;
    }
}

@media screen and (min-width: 1250px) {
    .main-banner__title_large {
        font-size: 45px;
        margin-bottom: 16px;
    }
}

.main-banner__text {
    font-size: 14px;
    font-weight: 300;
}



@media screen and (min-width: 1250px) {
    .main-banner__text {
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 719px) {
    .main-banner__button {
        display: none;
    }
}

.main-banner__container-image {
    position: relative;
    margin-left: auto;
    width: 85%;
    font-family: 'Prata';
    font-weight: 300;
    font-size: 14px;
    color: #1B1A17;
}

.main-banner__container-image::before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 100%;
    background-image: url(/conquest/images/components/main-banner//watch-main-background-2a207e8ca54d6e921eed745ab1166b50.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}

@media screen and (min-width: 1280px) {
    .main-banner__container-image {
        margin-right: 160px;
    }
}

.main-banner__price {
    position: absolute;
    top: 15%;
    left: 20%;
}

@media screen and (min-width: 425px) {
    .main-banner__price {
        left: 27%;
    }
}

@media screen and (min-width: 600px) {
    .main-banner__price {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .main-banner__price {
        top: 100px;
        left: 15%;
    }

    .main-banner__price::after {
        position: absolute;
        top: 40%;
        right: -60px;
        border-bottom: 1px solid #8B8371;
        width: 50px;
        content: "";
    }
}

.main-banner__diametr {
    position: absolute;
    width: 40px;
    bottom: 10%;
    left: 20%;
}

@media screen and (min-width: 425px) {
    .main-banner__diametr {
        width: 120px;
        left: 23%;
    }
}

@media screen and (min-width: 600px) {
    .main-banner__diametr {
        width: 120px;
        right: -20px;
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .main-banner__diametr {
        left: 85%;
        bottom: 60px;
    }

    .main-banner__diametr::before {
        position: absolute;
        left: -60px;
        top: 40%;
        border-bottom: 1px solid #8B8371;
        width: 50px;
        content: "";
    }
}

@media screen and (min-width: 1250px) {
    .main-banner__diametr {
        left: 480px;
    }
}

.main-banner__image {
    position: absolute;
    top: -2%;
    left: 0;
    height: 105%;
    margin-left: 60px;
}

@media screen and (min-width: 425px) {
    .main-banner__image {
        margin-left: 130px;
    }
}
.social-networks {
    display: flex;
    align-items: center;
}

.social-networks__link {
    margin-top: 10px;
}
.popular__header {
    display: block;
    position: relative;
    text-align: center;
    margin-bottom: 3%;
}

.popular__title {
    font-size: 24px;
    font-family: 'Playfair Display';
}

@media screen and (min-width: 768px) {
    .popular__title {
        font-size: 32px;
    }
}

.popular__link {
    padding-bottom: 11px;
    color: #444240;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    .popular__link {
        position: absolute;
        bottom: -10px;
        right: -10px;
    }
}

.popular__link:hover {
    border-bottom: 1px solid #C4C0B6;
}

.popular__watches {
    display: flex;
    flex-wrap: wrap;
}

.popular__watch {
    width: 100%;
    height: 380px;
    margin-bottom: 3%;
}

@media screen and (min-width: 640px) {
    .popular__watch {
        width: 48%;
        height: 380px;
        margin-right: 2%;
        margin-bottom: 3%;
    }

    .popular__watch:nth-child(2n) {
        margin-right: 0;
    }
}

@media screen and (min-width: 1024px) {
    .popular__watch {
        width: 30%;
        height: auto;
        margin-right: 3%;
        margin-bottom: 3%;
    }

    .popular__watch:nth-child(2) {
        width: 67%;
        margin-right: 0%;
        height: 467px;
    }

    .popular__watch:nth-child(3) {
        width: 48.5%;
    }

    .popular__watch:nth-child(4) {
        width: 48.5%;
        margin-right: 0%;
    }
}

@media screen and (min-width: 1024px) {
    .popular__watch:nth-child(2) .popular-watch__container-image {
        margin-left: 20%;
        margin-top: 10px;
    }

    .popular__watch:nth-child(3) .popular-watch__container-image,
    .popular__watch:nth-child(4) .popular-watch__container-image {
        margin-left: 30%;
    }

    .popular__watch:first-child .popular-watch__image {
        height: 90%;
    }
}

@media screen and (min-width: 1200px) {
    .popular__watch:first-child .popular-watch__image {
        height: auto;
    }
}
.popular-watch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Prata';
    background-color: #FDFDFB;
}

.popular-watch__header {
    position: absolute;
    top: 7%;
    left: 10%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
}

.popular-watch__name {
    margin-bottom: 10px;
    font-family: 'Playfair Display';
    font-weight: bold;
    color: #1B1A17;
    text-decoration: none;
    opacity: 82%;
}

.popular-watch__name:hover {
    text-decoration: underline;
}

.popular-watch__container-image {
    display: flex;
    align-items: center;
    height: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media screen and (min-width: 1024px) {
    .popular-watch__container-image {
        display: flex;
        align-items: center;
        height: 100%;
    }
}

.popular-watch__container-image_rado-1 {
    background-image: url(/conquest/images/components/popular-watch//background-1-59ddaaa09623307b21d74abc9ff8f175.png);
}

@media screen and (min-width: 1024px) {
    .popular-watch__container-image_rado-1 {
        background-image: url(/conquest/images/components/popular-watch//background-1-59ddaaa09623307b21d74abc9ff8f175.png);
        height: 60%;
    }
}

@media screen and (min-width: 1200px) {
    .popular-watch__container-image_rado-1 {
        background-image: url(/conquest/images/components/popular-watch//background-1-59ddaaa09623307b21d74abc9ff8f175.png);
        height: 100%;
    }
}

.popular-watch__container-image_rado-2 {
    background-image: url(/conquest/images/components/popular-watch//background-2-ca01e93d713f4ed50ebf1f1787949857.png);
    background-position: 100% -5px;
    background-size: 50%;
}

@media screen and (min-width: 1024px) {
    .popular-watch__container-image_rado-2 {
        background-position: 100% 0;
        background-size: 47%;
    }
}

.popular-watch__container-image_bvlgari-1 {
    background-image: url(/conquest/images/components/popular-watch//background-3-d98bf8d62c262edcbe89058e4e841b68.png);
}

.popular-watch__container-image_bvlgari-2 {
    background-image: url(/conquest/images/components/popular-watch//background-4-17f1af66a60d5d2d397799d4244ccb3d.png);
}

.popular-watch__image {
    height: 100%;
}

@media screen and (min-width: 1024px) {
    .popular-watch__image {
        height: auto;
    }
}

@media screen and (min-width: 1024px) {
    .popular-watch__image:first-child {
        height: auto;
    }
}

.popular-watch__about {
    position: absolute;
    bottom: 7%;
    left: 21%;
    color: #1B1A17;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .popular-watch__about {
        bottom: 7%;
        left: 88px;
    }
}

.popular-watch__about:hover {
    text-decoration: underline;
}

.popular-watch__line {
    position: absolute;
    top: 50%;
    left: -40px;
}
.line {
    width: 30px;
    height: 1px;
    background-color: #8B8371;
    vertical-align: middle;
}
.banner {
    position: relative;
    background: linear-gradient(to right, #F7F5EF 35%, #FDFDFB 35%);
}

@media screen and (min-width: 600px) {
    .banner::before,
    .banner::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;
        height: 365px;
        background-image: url(/conquest/images/components/banner//background-up-a03ffe929b89410711bc82e3fcfc1d60.png);
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
    }
    
    .banner::after {
        top: auto;
        width: 200px;
        height: 110%;
        bottom: 0px;
        right: 0;
        background-position: 70px 145px;
        background-image: url(/conquest/images/components/banner//background-down-e59199d14cefa4822c55fdd1df3456a3.png);
    }
}

.banner__container {
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 4.4444444%;
    padding-bottom: 14%;
}

@media screen and (min-width: 600px) {
    .banner__container {
        flex-direction: row;
        padding-bottom: 4.444444%;
    }
}

.banner__container-img {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .banner__container-img {
        width: 40%;
    }
}

@media screen and (min-width: 1024px) {
    .banner__container-img {
        width: 44.53%;
    }
}

.banner__image {
    width: 100%;
}

.banner__slider {
    position: absolute;
    bottom: 3%;
    right: 20px;
    margin-left: auto;
}

@media screen and (min-width: 425px) {
    .banner__slider {
        bottom: 4%;
        right: 35px;
    }
}

@media screen and (min-width: 600px) {
    .banner__slider {
        bottom: 5%;
    }
}

@media screen and (min-width: 1024px) {
    .banner__slider {
        bottom: 4.2%;
        left: 37%;
    }
}

.banner__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.banner__button_prev {
    transform: rotate(90deg);
}

.banner__number {
    margin: 0 20px;
    font-family: 'Prata';
}

.banner__button_next {
    transform: rotate(-90deg);
}

.banner__container-text {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .banner__container-text {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .banner__container-text {
        width: 34%;
    }
}

.banner__title {
    font-family: 'Playfair Display';
    margin-bottom: 9.54773%;
}

.banner__text {
    margin-bottom: 11.25%;
}

.banner__button-link {
    display: none;
    background-color: #D4B098;
}

@media screen and (min-width: 768px) {
    .banner__button-link {
        display: inline-block;;
    }
}
.contacts {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 5.86%;
    margin-bottom: 15%; 
}

@media screen and (min-width: 768px) {
    .contacts {
        flex-direction: row;
        margin-bottom: 5.86%;
    }
}

.contacts__container-text {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .contacts__container-text {
        width: 50%;
    }
}

.contacts__title {
    text-align: center;
    font-size: 18px;
}

@media screen and (min-width: 600px) {
    .contacts__title {
        font-size: 24px;
    }
}

@media screen and (min-width: 768px) {
    .contacts__title {
        text-align: left;
        font-size: 30px;
    }
}

.contacts__text {
    width: 90%;
    margin-top: 10.64%;
    margin-bottom: 13.83%;
    margin-left: 10%;
}

@media screen and (min-width: 600px) {
    .contacts__text {
        width: 100%;
        margin-top: 7.7%;
        margin-bottom: 3%;
        margin-left: 0;
    }
}

@media screen and (min-width: 768px) {
    .contacts__text {
        margin-bottom: 9%;
        width: 90%;
    }
}

@media screen and (min-width: 1024px) {
    .contacts__text {
        width: 70%;
    }
}

.contacts .social-networks__link {
    margin-top: 0;
    margin-bottom: 10px;
}

@media screen and (min-width: 600px) {
    .contacts .social-networks__link {
        margin-right: 18px;
        margin-bottom: 20px;
    }
}

.contacts .social-networks {
    position: absolute;
    top: 65px;
    left: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    .contacts .social-networks {
        position: relative;
        top: 0;
        left: 0;
        flex-direction: row;
    }
}

.contacts__container-img {
    display: flex;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .contacts__container-img {
        width: 50%;
    }
}

.contacts__container-img_left {
    margin-right: 10px;
    width: 63%;
}

@media screen and (min-width: 1024px) {
    .contacts__container-img_left {
        width: 64%;
    }
}

.contacts__container-img_right {
    width: 100%;
}

.contacts__image {
    display: inline-block;
    max-width: 100%;
}

.contacts__container-img_right .contacts__image {
    max-width: 100%;
}

.contacts__container-img_left .contacts__image:first-child {
    margin-bottom: 6px;
}

@media screen and (min-width: 1024px) {
    .contacts__image {
        max-width: auto;
    }
}
.catalog {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 580px) {
    .catalog {
        flex-direction: row;
        justify-content: space-between;
    }
}
.select {
    position: relative;
    margin-top: 5px;
    margin-left: auto;
    width: 54%;
    color: #BDB9B5;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding-right: 15px;
    border-radius: 10px;
    font-size: 16px;
    background-color: transparent;
}

@media screen and (min-width: 580px) {
    .select {
        margin-left: 0;
    }
}

.select__option_active {
    display: inline-block;
    width: 120px;
    margin-left: auto;
}

.select__options {
    border: 1px solid gray;
}

.select:hover,
.select__option:hover {
    background-color: rgba(211, 211, 211, 0.3);
}

@media screen and (min-width: 580px) {
    .select:hover {
        background-color: transparent;
    }
}

@media screen and (min-width: 425px) {
    .select {
        width: 48%;
    }
}

@media screen and (min-width: 580px) {
    .select {
        width: auto;
        border: none;
    }
}

@media screen and (max-width: 424px) {
    .select {
        padding-right: 5px;
    }
}

.select > svg {
    display: none;
}

@media screen and (min-width: 424px) {
    .select > svg {
        display: inline-block;
        position: absolute;
        margin-top: -3px;
    }
}

@media screen and (max-width: 579px) {
    .select > svg {
        width: 20px;
        height: 20px;
        background-size: 20px;
        top: 18px;
        right: 8px;
    }
}

@media screen and (min-width: 580px) {
    .select > svg {
        position: absolute;
        margin-top: 7px;
        margin-left: 5%;
    }
}

.select__options,
.select__option_active {
    color: black;
}

.select__options {
    display: none;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 105%;
    background-color: #fff;
    z-index: 3;
}

@media screen and (min-width: 768px) {
    .select__options {
        top: -3px;
        left: 50%;
        width: 55%;
    }
}

.select__options_active {
    display: block;
}

.select__option {
    position: relative;
    display: block;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

.select__option svg {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 14px;
    right: 10px;
}

@media screen and (min-width: 768px) {
    .select__option svg {
        top: 14px;
        right: 6px;
    }
}

.select__option_asc svg {
    transform: rotate(180deg);
}
.filter {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

@media screen and (min-width: 580px) {
    .filter {
        width: 40%;
        margin-right: 4%;
    }
}

@media screen and (min-width: 1024px) {
    .filter {
        margin-top: 10px;
        width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    .filter {
        width: 25%;
    }
}

.filter__button {
    position: absolute;
    top: -55px;
    border: none;
    background-color: #fff;
}

@media screen and (min-width: 580px) {
    .filter__button {
        display: none;
    }
}

.filter__button::before {
    width: 100%;
    height: 100%;
}

.filter__button svg {
    width: 30px;
    height: 30px;
    margin-top: 3px;
}

.filter__form {
    width: 100%;
    display: none;
}

@media screen and (min-width: 580px) {
    .filter__form {
        position: sticky;
        top: 100px;
        display: inline-block;
    }
}

@media screen and (min-width: 768px) {
    .filter__form {
        top: 50px;
    }
}

@media screen and (min-width: 1200px) {
    .filter__form {
        position: relative;
        top: 0;
    }
}

.filter__form_active {
    display: block;
}

.filter__details {
    position: relative;
    font-weight: 500;
    margin: 20px 0;
}

.filter__details:first-child {
    margin-top: 0;
}

.filter__details::before,
.filter__details::after {
    position: absolute;
    top: 10px;
    right: 13px ;
    width: 10px;
    height: 2px;
    background-color: #1B1A17;
    transition: all 0.2s;
    content: '';
}

.filter__details::after {
    transform: rotate(90deg);
}

.filter__details::before {
    transform: rotate(180deg);
}

.filter__details[open]::after,
.filter__details[open]::before {
    transform: rotate(0);
}

.filter__name {
    display: table;
    cursor: pointer;
}

.filter__reset {
    border: 2px solid #E7E0CF;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    width: 100%;
    padding: 10px 0;
}

@media screen and (min-width: 768px) {
    .filter__reset {
        padding: 24px 56px;
    }
}

@media screen and (min-width: 800px) {
    .filter__reset {
        width: auto;
    }
}

@media screen and (min-width: 1024px) {
    .filter__reset {
        padding: 20px 0;
        width: 100%;
    }
}

@media screen and (min-width: 1280px) {
    .filter__reset {
        padding: 24px 56px;
        width: auto;
    }
}
.checkbox {
    display: table;
    margin: 20px 0;
    cursor: pointer;
    width: 100%;
}

.checkbox__input {
    display: none;
}

.checkbox__name svg {
    display: none;
}

.checkbox__input:checked ~ .checkbox__name svg {
    position: absolute;
    top: 4px;
    left: 1px;
    display: inline-block;
    width: 10px;
    height: 10px;
}

.checkbox__name {
    position: relative;
    padding-left: 25px;
}

.checkbox__name::before {
    position: absolute;
    top: 3px;
    left: 0;
    width: 13px;
    height: 13px;
    border: 1px solid #909090;
    content: '';
}

.checkbox__input:checked ~ .checkbox__name::before {
    background-color: #909090;
}
.range {
    width: 100%;
    overflow: hidden;
}

@media screen and (min-width: 375px) {
    .range {
        margin-left: 10px;
    }
}

@media screen and (min-width: 580px) {
    .range {
        margin-left: 0px;
    }
}

.range__strip {
    position: relative;
    width: 88%;
    height: 2px;
    margin-top: 40px;
    margin-bottom: 50px;
    background-color: #D4D4D4;
}

@media screen and (min-width: 580px) {
    .range__strip {
        width: 85%;
    }
}

@media screen and (min-width: 580px) {
    .range__strip {
        width: 88%;
    }
}

.range__strip::after {
    position: absolute;
    top: -2px;
    left: calc(100% + 13px);
    width: 20vw;
    height: 6px;
    background-color: white;
    z-index: 4;
    content: '';
}

.range__ball {
    position: absolute;
    top: -5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #fff;
    cursor: pointer;
    user-select: none;
    z-index: 4;
}

.range__ball_min {
    left: 0;
}

.range__ball_min::after,
.range__ball_max::after {
    position: absolute;
    top: 4px;
    left: 101%;
    width: 80vw;
    height: 2px;
    background-color: black;
    content: '';
}

.range__ball_max {
    right: 0;
}

.range__ball_max::after {
    left: 110%;
    background-color: #D4D4D4;
}

.range__price {
    position: absolute;
    top: 15px;
    width: 65px;
    border: none;
    background-color: #fff;
}

.range__price_min {
    left: 0px;
}

.range__price_max {
    right: -30px;
}

.range__price_top {
    top: -22px;
}
.catalog-container {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 40px;
}

@media screen and (min-width: 580px) {
    .catalog-container {
        width: 50%;
    }
}

@media screen and (min-width: 900px) {
    .catalog-container {
        width: 100%;
    }
}

.catalog-container__item {
    width: 100%;
    height: 300px;
    margin: 2%;
}

@media screen and (min-width: 580px) {
    .catalog-container__item {
        width: 100%;
    }
}

@media screen and (min-width: 900px) {
    .catalog-container__item {
        width: 45%;
    }
}

@media screen and (min-width: 1200px) {
    .catalog-container__item {
        width: 28%;
    }
}

.catalog-container__item_ad {
    position: relative;
    margin-top: 2%;
    background-color: #D4B098;
}

.catalog-container__content-text {
    width: 106px;
    color: white;
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 16px;
    margin-top: 85px;
    margin-left: 35px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

.catalog-container__percent {
    display: block;
    font-size: 45px;
    margin-bottom: 16px;
}

.catalog-container__image {
    position: absolute;
    right: 0;
    bottom: 3px;
    margin-left: auto;
}
.catalog-banner {
    height: 293px;
    margin-bottom: 5.9297218%;
    padding: 10% 0 10% 0;
    background-image: url(/conquest/images/components/catalog-banner//catalog-banner-background-7a3933972170455e95b102f8af684d0e.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(234, 228, 213, 0.38);
}

@media screen and (min-width: 425px) {
    .catalog-banner {
        padding: 5% 0 50% 0;
    }
}

@media screen and (min-width: 600px) {
    .catalog-banner {
        padding: 5% 0 40% 0;
    }
}

@media screen and (min-width: 768px) {
    .catalog-banner {
        padding: 8% 0 0 0;
    }
}

@media screen and (min-width: 1024px) {
    .catalog-banner {
        padding: 8% 0 6% 0;
    }
}

@media screen and (min-width: 1280px) {
    .catalog-banner {
        padding: 4.83162% 0 6.73499% 0;
    }
}

.catalog-banner__header {
    color: #818181;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.catalog-banner__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .catalog-banner__content {
        flex-direction: row;
        align-items: flex-end;
        flex-wrap: wrap;
    }
}

.catalog-banner__text {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .catalog-banner__text {
        font-size: 32px;
    }
}

@media screen and (min-width: 1024px) {
    .catalog-banner__text {
        font-size: 36px;
        width: 45%;
    }
}

@media screen and (min-width: 1280px) {
    .catalog-banner__text {
        font-size: 45px;
    }
}

.catalog-banner__email {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 8%;
    margin-bottom: 8%;
    font-size: 14px;
    color: #444240;
}

@media screen and (min-width: 540px) {
    .catalog-banner__email {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    .catalog-banner__email {
        width: 40%;
        margin-top: 8%;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1024px) {
    .catalog-banner__email {
        width: 23.76%;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1280px) {
    .catalog-banner__email {
        margin-left: 8%;
    }
}

.catalog-banner__input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #1B1A17;
    margin-top: 5px;
}

@media screen and (min-width: 540px) {
    .catalog-banner__button {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    .catalog-banner__button {
        width: auto;
        height: auto;
    }
}

@media screen and (min-width: 1024px) {
    .catalog-banner__button {
        width: auto;
    }
}
.product-list {
    position: relative;
}

.product-list__button {
    position: relative;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.product-list__count {
    position: absolute;
    top: -5px;
    right: 0;
    display: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #e6c8b4;
    font-size: 10px;
    padding-top: 1px;
    padding-left: 1px;
    content: '';
}

.product-list__container {
    overscroll-behavior: none;
    position: absolute;
    top: 30px;
    right: -7px;
    display: none;
    width: 270px;
    max-height: calc(100vh - 90px);
    overflow: auto;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 0 3px 3px lightgray;
}

.product-list__container_active {
    display: block;
}

.product-list__list {
    margin: 0;
    padding: 0;
}

.product-list__item {
    position: relative;
    display: flex;
}

.product-list__close {
    border: 0;
    background-color: transparent;
}

.product-list__close::before,
.product-list__close::after {
    position: absolute;
    top: 50%;
    right: 0px;
    content: '';
    width: 15px;
    height: 2px;
    background-color: rgb(97, 93, 93);
    transform: rotate(45deg);
    cursor: pointer;
}

.product-list__close::after {
    transform: rotate(-45deg);
}

.product-list__image {
    display: inline-block;
    height: 80px;
}

.product-list__text {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.product-list__name {
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 20px;
}

.product-list__price {
    font-size: 13px;
    padding-bottom: 20px;
}

.product-list__line {
    margin: 10px 0;
    background-color: lightgray;
    width: 100%;
}

.product-list__sum {
    display: inline-block;
    color: black;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

.product-list__complete {
    margin-bottom: 10px;
    width: 100%;
}
*, *::before, *::after {
    box-sizing: border-box;
}

h2 {
    font-family: 'Playfair Display';
}
