body {
    position: relative;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: black;
    background-color: #fff;
}
.positioner {
    width: 86.7%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}


.header {
    margin-top: 28px;
    padding-bottom: 28px;
    z-index: 2;
}

.header__positioner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .header__navigation {
        order: -1;
    }
}

.header__items {
    display: flex;
    align-items: center;
}

.header__item {
    margin-right: 23px;
    height: 20px;
    width: 21px;
    background-repeat: no-repeat;
    background-position: left;
    background-color: white;
    border: none;
    outline: none;
}

.header__item:first-child {
    background-image: url('/icon/search.svg');
}

.header__item:nth-child(2) {
    background-image: url('/icon/favourite.svg');
}

.header__item:last-child {
    margin-right: 0;
    background-image: url('/icon/basket.svg');
}
.logo {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.logo__name {
    text-decoration: none;
    color: #555248;
    text-transform: uppercase;
    font-family: "Playfair Display";
}
.navigation__menu {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url(/conquest/images/components/navigation//burger-0ed236ad9eafaaa2a5aedbb25e081b21.svg); 
    background-repeat: no-repeat;
    background-position: left;
    background-color: white;
    border: none;
}

@media screen and (min-width: 768px) {
    .navigation__menu {
        display: none;
    }
}

.navigation__checkbox {
    display: none;
}

.navigation__link {
    display: inline-block;
    margin-right: 40px;
    color: #555248;
    text-decoration: none;
}

.navigation__link:hover {
    color: #A69876;
}

@media screen and (min-width: 1024px) {
    .navigation__link {
        margin-right: 65px;
    }
}

@media screen and (max-width: 767px) {
    .navigation__menu::before {
        position: fixed;
        top: 82px;
        left: 0;
        display: none;
        width: 100vw;
        height: calc(100vh - 82px);
        background-color: rgba(128, 128, 128, 0.5);
        z-index: 1;
        content: '';
    }

    .navigation_active .navigation__menu::before {
        display: block;
    }

    .navigation__links {
        position: absolute;
        top: 54px;
        left: -201px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 200px;
        height: calc(100vh - 82px);
        border-right: 1px solid rgba(211, 211, 211, 0.5);
        background-color: white;
        transition: all 0.2s;
        z-index: 1;
    }

    .navigation_active .navigation__links {
        left: -1px;
    }

    .navigation__link {
        padding-top: 21px;
        padding-bottom: 20px;
        margin: 0;
        text-align: center;
        border-top: 1px solid rgba(211, 211, 211, 0.5);
    }

    .navigation__link:hover {
        background-color: rgba(223, 223, 223, 0.5);
    }
}

@media screen and (min-width: 768px) {
    .navigation__menu::before {
        display: none;
    }
}

.navigation__link:last-child {
    margin-right: 0;
}
.bread-crumbs {
    display: none;
    margin-top: 30px;
}

@media screen and (min-width: 768px) {
    .bread-crumbs {
        display: block;
    }
}

.bread-crumbs__link {
    color: #BDB9B5;
    text-decoration: none;
}

.bread-crumbs__link:last-child {
    color: black;
}

.bread-crumbs__arrow {
    margin: 0 13px;
    color: #BDB9B5;
}
.catalog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.catalog-header__title {
    margin: 0;
    font-family: "Playfair Display";
    font-size: 32px;
    text-align: center;
}

@media screen and (min-width: 320px) {
    .catalog-header__title {
        width: 250px;
        font-size: 20px;
    }
}

@media screen and (min-width: 480px) {
    .catalog-header__title {
        text-align: left;
        font-size: 26px;
    }
}

@media screen and (min-width: 768px) {
    .catalog-header__title {
        text-align: left;
        font-size: 32px;
    }
}

.catalog-header__sort {
    position: relative;
    margin-top: 5px;
    color: #BDB9B5;
    cursor: pointer;
    text-align: center;
}

@media screen and (min-width: 320px) {
    .catalog-header__sort {
        border: 1px solid black;
        padding: 5px;
        padding-right: 10px;
        border-radius: 10px;
    }

    .catalog-header__sort:hover {
        background-color: rgba(187, 187, 187, 0.2);
    }
}

@media screen and (min-width: 576px) {
    .catalog-header__sort:hover {
        background-color: none;
    }
}

@media screen and (min-width: 576px) {
    .catalog-header__sort {
        border: none;
    }
}

@media screen and (max-width: 424px) {
    .catalog-header__sort {
        padding-right: 5px;
    }
}

.catalog-header__sort::after {
    position: absolute;
    top: 12px; 
    right: -10px;
    width: 12px;
    height: 10px;
    background-image: url(/conquest/images/components/catalog-header//arrow-sort-952fac9d17fa515e5771e6f0901292b7.svg);
    background-repeat: no-repeat;
    content: "";
}

@media screen and (max-width: 424px) {
    .catalog-header__sort::after {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .catalog-header__sort::after {
        width: 20px;
        height: 20px;
        background-size: 20px;
        top: 18px;
        right: 8px;
    }
}

.catalog-header__option {
    color: black;
}
.gallery {
    position: relative;
    width: 100%;
    margin-top: 22px;
}

@media screen and (min-width: 1024px) {
    .gallery {
        width: 47.8632%;
    }
}

.gallery__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery__button {
    background-color: #fff;
    border: none;
    height: 23px;
    cursor: pointer;
}

.gallery__button_prev {
    transform: rotate(90deg);
}

.gallery__large-img {
    text-align: center;
}

.gallery__button_next {
    transform: rotate(-90deg);
}

.gallery__preview {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

@media screen and (min-width: 576px) {
    .gallery__preview {
        justify-content: space-evenly;
    }
}

.gallery__item {
    text-align: center;
    background-color: lightgray;
}

@media screen and (min-width: 320px) {
    .gallery__item {
        height: 70px;
        width: 80px;
    }

    .gallery__item:not(:last-child) {
        margin-right: 5px;
    }
}

@media screen and (min-width: 375px) {
    .gallery__item {
        height: 75px;
        width: 80px;
    }

    .gallery__item:not(:last-child) {
        margin-right: 10px;
    }
}

@media screen and (min-width: 480px) {
    .gallery__item {
        height: 95px;
        width: 95px;
    }
}

@media screen and (min-width: 768px) {
    .gallery__item {
        height: 121px;
        width: 127px;
    }
}

@media screen and (min-width: 1024px) {
    .gallery__item {
        height: 100px;
        width: 105px;
    }
}

@media screen and (min-width: 1200px) {
    .gallery__item {
        height: 121px;
        width: 127px;
    }
}

.gallery__item_active {
    background-color: white;
}

.gallery__image {
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}

.gallery__item:hover {
    background-color: transparent !important;
}
.watch-info {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 320px) {
    .watch-info {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1024px) {
    .watch-info {
        flex-direction: row;
    }
}

.watch-info__about {
    position: relative;
    margin-top: 60px;
    background-color: #FDFDFB;
}

@media screen and (min-width: 320px) {
    .watch-info__about {
        width: 100%;
        margin-top: 30px;
        padding: 8.5% 10.5%;
    }
}

@media screen and (min-width: 800px) {
    .watch-info__about {
        padding: 6% 7%;
    }
}

@media screen and (min-width: 1024px) {
    .watch-info__about {
        width: 47.8632%;
        margin-top: 30px;
        padding: 4.188% 5.0427%;
    }
}

.watch-info__header {
    display: flex;
    justify-content: space-between;
}

.watch-info__title {
    text-transform: uppercase;
    margin: 0;
}

.watch-info__checkbox {
    display: none;
}

.watch-info__checkbox:checked + .watch-info__favourite {  
    fill: red;
}

.watch-info__favourite {
    position: absolute;
    top: 59px;
    right: 40px;
    width: 21px;
    height: 17px;
    stroke: 1px solid red;
    cursor: pointer;
}

@media screen and (min-width: 320px) {
    .watch-info__favourite {
        top: 4%;
    }
}

@media screen and (min-width: 375px) {
    .watch-info__favourite {
        top: 5%;
    }
}

@media screen and (min-width: 425px) {
    .watch-info__favourite {
        top: 6%;
    }
}

@media screen and (min-width: 576px) {
    .watch-info__favourite {
        top: 8%;
    }
}

@media screen and (min-width: 768px) {
    .watch-info__favourite {
        top: 9%;
    }
}

@media screen and (min-width: 800px) {
    .watch-info__favourite {
        top: 7.2%;
    }
}

.watch-info__price {
    display: block;
    color: #686868;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 41px;
}

@media screen and (min-width: 320px) {
    .watch-info__price {
        margin-top: 3.5714%;
        margin-bottom: 7.3214%;
    }
}

@media screen and (min-width: 320px) {
    .watch-info__about section {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1024px) {
    .watch-info__about section {
        flex-direction: row;
    }
}

.watch-info__radio {
    display: none;
}

.watch-info__description::after,
.watch-info__characteristics::after {
    position: absolute;
    left: 50%;
    bottom: -5px;
    height: 2px;
    width: 0;
    background-color: #C4C0B6;
    transform: translateX(-100%);
    transition: all 0.2s ease;
    content: '';
}

.watch-info__description::before,
.watch-info__characteristics::before {
    position: absolute;
    left: 0%;
    bottom: -5px;
    height: 2px;
    width: 0;
    background-color: #C4C0B6;
    transform: translateX(100%);
    transition: all 0.2s ease;
    content: '';
}

#description:checked ~ .watch-info__description::before,
#characteristics:checked ~ .watch-info__characteristics::before,
#description:checked ~ .watch-info__description::after,
#characteristics:checked ~ .watch-info__characteristics::after {
    width: 50%;
}

@media screen and (max-width: 1024px) {
    #description:checked ~ .watch-info__description::before,
    #characteristics:checked ~ .watch-info__characteristics::before,
    #description:checked ~ .watch-info__description::after,
    #characteristics:checked ~ .watch-info__characteristics::after {
        display: none;
    }
}

.watch-info__description,
.watch-info__characteristics {
    position: relative;
    color: #444240;
    font-weight: 600;
    padding-bottom: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.watch-info__description {
    margin-right: 40px;
}

@media screen and (min-width: 320px) {
    .watch-info__content {
        margin-top: 7.1428%;
        margin-bottom: 9.64285%;
    }
}

@media screen and (min-width: 426px) {
    .watch-info__content {
        margin-top: 5%;
        margin-bottom: 7%;
    }
}

@media screen and (min-width: 769px) {
    .watch-info__content {
        margin-top: 4%;
        margin-bottom: 6%;
    }
}

@media screen and (min-width: 1024px) {
    .watch-info__content {
        margin-top: 40px;
        margin-bottom: 54px;
    }
}

.watch-info__text {
    font-weight: 300;
    font-size: 14px;
}

.watch-info__basket-button {
    text-transform: uppercase;
    padding: 24px 56px;
    border-radius: 0;
    border: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #31302C;
    color: white;
    cursor: pointer;
}
*, *::before, *::after {
    box-sizing: border-box;
}
