//- если  есть compactNavigation, TO навигация остается компактная даже на компуктерах
mixin navigation(options = {})
    - let mod = (options.compactNavigation) ? "navigation_compact" : "";
    nav.navigation(class=mod)&attributes(attributes)
        button.navigation__menu
        .navigation__links
            a.navigation__link(href="/product.html") Каталог
            a.navigation__link(href="#") Акции
            a.navigation__link(href="#") Доставка
            a.navigation__link(href="#") Контакты