.button {
    display: inline-block;
    text-transform: uppercase;
    padding: 24px 56px;
    border-radius: 0;
    border: 0;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    background-color: #31302C;
    color: white;
    cursor: pointer;
}