include ../svg-icon/svg-icon

mixin checkbox(value, label)
    label.checkbox
        input.checkbox__input(type='checkbox' value='#{value}')
        span.checkbox__name #{label}
            +svg-icon('check')