.main-banner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

@media screen and (min-width: 720px) {
    .main-banner {
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 1024px) {
    .main-banner {
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
}

.main-banner__icons {
    order: -2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

@media screen and (min-width: 1024px) {
    .main-banner__icons {
        order: 1;
        margin-right: 80px;
    }
}

@media screen and (min-width: 1250px) {
    .main-banner__icons {
        margin-right: 102px;
    }
}

@media screen and (min-width: 800px) {
    .main-banner__information {
        margin-left: 30px;
    }
}

.main-banner__link {
    margin-top: 10px;
}

.main-banner__title {
    font-family: 'Playfair Display';
    margin: 0;
    color: #1B1A17;
    font-size: 20px;
}

@media screen and (min-width: 540px) {
    .main-banner__title {
        font-size: 24px;
    }
}

@media screen and (min-width: 1250px) {
    .main-banner__title {
        font-size: 30px;
        margin-bottom: 39px;
    }
}

.main-banner__title_large {
    margin-top: 10px;
    font-size: 24px;
    margin-bottom: 10px;
}

@media screen and (min-width: 540px) {
    .main-banner__title_large {
        font-size: 28px;
    }
}

@media screen and (min-width: 1250px) {
    .main-banner__title_large {
        font-size: 45px;
        margin-bottom: 16px;
    }
}

.main-banner__text {
    font-size: 14px;
    font-weight: 300;
}

@media screen and (min-width: 1250px) {
    .main-banner__text {
        margin-bottom: 64px;
    }
}

.main-banner__container-image {
    position: relative;
    margin-left: auto;
    width: 240px;
    height: 240px;
    order: -1;
    background-image: url('/img/watch-main-background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-weight: 300;
    font-size: 14px;
    color: #1B1A17;
}

@media screen and (min-width: 375px) {
    .main-banner__container-image {
        width: 270px;
        height: 270px;
    }
}

@media screen and (min-width: 425px) {
    .main-banner__container-image {
        width: 300px;
        height: 300px;
    }
}

@media screen and (min-width: 540px) {
    .main-banner__container-image {
        width: 400px;
        height: 380px;
        background-position: 0px 0;
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .main-banner__container-image {
        width: 550px;
        height: 550px;
    }
}

@media screen and (min-width: 1280px) {
    .main-banner__container-image {
        margin-right: 160px;
    }
}

.main-banner__price {
    position: absolute;
    top: 30px;
    left: 35px;
}

@media screen and (min-width: 375px) {
    .main-banner__price {
        top: 40px;
        left: 45px;
    }
}

@media screen and (min-width: 540px) {
    .main-banner__price {
        top: 60px;
        left: 85px;
    }
}

@media screen and (min-width: 1024px) {
    .main-banner__price {
        top: 100px;
        left: 80px;
    }

    .main-banner__price::after {
        position: absolute;
        top: 40%;
        right: -60px;
        border-bottom: 1px solid #8B8371;
        width: 50px;
        content: "";
    }
}

.main-banner__diametr {
    position: absolute;
    width: 40px;
    bottom: 20px;
    right: 15px;
}

@media screen and (min-width: 425px) {
    .main-banner__diametr {
        width: 120px;
        bottom: 30px;
        right: -20px;
    }
}

@media screen and (min-width: 425px) {
    .main-banner__diametr {
        width: 60px;
    }
}

@media screen and (min-width: 720px) {
    .main-banner__diametr {
        width: 120px;
        right: -50px;
    }
}

@media screen and (min-width: 1024px) {
    .main-banner__diametr {
        left: 462px;
        bottom: 60px;
    }

    .main-banner__diametr::before {
        position: absolute;
        left: -60px;
        top: 40%;
        border-bottom: 1px solid #8B8371;
        width: 50px;
        content: "";
    }
}

@media screen and (min-width: 1250px) {
    .main-banner__diametr {
        left: 480px;
    }
}

.main-banner__image {
    height: 106%;
    margin-left: 60px;
    margin-top: -10px;
}

@media screen and (min-width: 540px) {
    .main-banner__image {
        margin-left: 130px;
    }
}