.main-banner {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

@media screen and (min-width: 720px) {
    .main-banner {
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 1024px) {
    .main-banner {
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-end;
    }
}

@media screen and (min-width: 1200px) {
    .main-banner__information {
        width: 60%;
    }
}

.main-banner__icons {
    position: absolute;
    top: 10px;
    right: 0;
    order: -2;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 720px) {
    .main-banner__icons {
        position: relative;
        flex-direction: column;
    }
}

.main-banner__link {
    margin-right: 10px;
}

@media screen and (min-width: 720px) {
    .main-banner__information {
        margin-left: 30px;
    }
}

.main-banner__link {
    margin-top: 10px;
}

.main-banner__title {
    font-family: 'Playfair Display';
    margin: 0;
    color: #1B1A17;
    font-size: 20px;
}

@media screen and (min-width: 540px) {
    .main-banner__title {
        font-size: 24px;
    }
}

@media screen and (min-width: 1250px) {
    .main-banner__title {
        font-size: 30px;
        margin-bottom: 39px;
    }
}

.main-banner__title_large {
    margin-top: 10px;
    font-size: 24px;
    margin-bottom: 10px;
}

@media screen and (min-width: 540px) {
    .main-banner__title_large {
        font-size: 28px;
    }
}

@media screen and (min-width: 1250px) {
    .main-banner__title_large {
        font-size: 45px;
        margin-bottom: 16px;
    }
}

.main-banner__text {
    font-size: 14px;
    font-weight: 300;
}

@media screen and (min-width: 1250px) {
    .main-banner__text {
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 719px) {
    .main-banner__button {
        display: none;
    }
}

.main-banner__container-image {
    position: relative;
    margin-left: auto;
    width: 85%;
    font-weight: 300;
    font-size: 14px;
    color: #1B1A17;
}

.main-banner__container-image::before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 100%;
    background-image: url('./watch-main-background.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}

@media screen and (min-width: 1280px) {
    .main-banner__container-image {
        margin-right: 160px;
    }
}

.main-banner__price {
    position: absolute;
    top: 15%;
    left: 20%;
}

@media screen and (min-width: 425px) {
    .main-banner__price {
        left: 27%;
    }
}

@media screen and (min-width: 600px) {
    .main-banner__price {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .main-banner__price {
        top: 100px;
        left: 15%;
    }

    .main-banner__price::after {
        position: absolute;
        top: 40%;
        right: -60px;
        border-bottom: 1px solid #8B8371;
        width: 50px;
        content: "";
    }
}

.main-banner__diametr {
    position: absolute;
    width: 40px;
    bottom: 10%;
    left: 20%;
}

@media screen and (min-width: 425px) {
    .main-banner__diametr {
        width: 120px;
        left: 23%;
    }
}

@media screen and (min-width: 600px) {
    .main-banner__diametr {
        width: 120px;
        right: -20px;
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .main-banner__diametr {
        left: 85%;
        bottom: 60px;
    }

    .main-banner__diametr::before {
        position: absolute;
        left: -60px;
        top: 40%;
        border-bottom: 1px solid #8B8371;
        width: 50px;
        content: "";
    }
}

@media screen and (min-width: 1250px) {
    .main-banner__diametr {
        left: 480px;
    }
}

.main-banner__image {
    position: absolute;
    top: -2%;
    left: 0;
    height: 105%;
    margin-left: 60px;
}

@media screen and (min-width: 425px) {
    .main-banner__image {
        margin-left: 130px;
    }
}