include ../positioner/positioner
include ../button/button
include ../social-networks/social-networks

mixin main-banner
    +positioner('article').main-banner
        section.main-banner__information
            h1.main-banner__title.main-banner__title_large Весна/Лето 2019
            h2.main-banner__title Коллекция
            p.main-banner__text Швейцарские часы в наличии в Москве и с доставкой по всему миру
            +button('a')(href="/catalog.html").main-banner__button Смотреть каталог
        +social-networks.main-banner__icons
        .main-banner__container-image
            span.main-banner__price 22 000 ₽
            img(src="/img/watch_main.png", alt="часы весна-лето 2019").main-banner__image
            span.main-banner__diametr 28 мм диаметр